@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-hight: 100vh;
    background-color: #f0f2f5;
}
.wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 345px;
    width: 100%;
    background: #f4f5f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px 25px 22px;
    color: #333;
}
.wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
header .icon {
    font-size: 32px; 
    color: #0056b3;
}
header h2{
    font-weight: 500;
    color: #0056b3;
}
.wrapper .data {
    margin-top: 16px;
}
.wrapper .data p {
    font-size: 16px;
}
.data p a {
    color: #0056b3;
    text-decoration: none;
}
.data p a:hover {
    color: #005;
    text-decoration: underline;
}
.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons .button{
   border: none;
   color: #f0f2f5;
   padding: 10px 0;
   border-radius: 5px;
   background: #0056b3;
   cursor: pointer;
   width: calc(100% / 2 - 10px);
   transition: all 0.3s ease;
}
.buttons .button:hover {
    background: #004080;
}
.buttons .btnDecline {
    border: 1px solid #0056b3;
    background-color: #f0f2f5;
    color: #0056b3;
}